<html>
  <head>
    <title>Checkout</title>
  </head>
  <body>
        <section>
            <form action="/create-checkout-session" method="POST">
                <input type="hidden" name="priceId" value={basicPriceID} />
                <button type="submit">Basic Checkout</button>
            </form>
        </section>
        <section>
            <form action="/create-checkout-session" method="POST">
                <input type="hidden" name="priceId" value={proPriceID} />
                <button type="submit">Premium Checkout</button>
            </form>
        </section>


  </body>
</html>