<html>
  <head>
    <title>Checkout</title>
  </head>
  <body>
        <section>
            <form action="/create-checkout-session" method="POST">
                <input type="hidden" name="priceId" value="price_1KrE2ZCfDyUD6BwEcw5T0p5E" />
                <button type="submit">Basic Checkout</button>
            </form>
        </section>
        <section>
            <form action="/create-checkout-session" method="POST">
                <input type="hidden" name="priceId" value="price_1KrE15CfDyUD6BwERgYb5u9z" />
                <button type="submit">Premium Checkout</button>
            </form>
        </section>


  </body>
</html>